<html lang="en">

<head>
  <%- include('layout/head') %>
</head>

<div id="container">
  <%- include('layout/navbar') %>
  <body>
    <%- include('layout/footer') %>
    <script src="javascript/app.js"></script>
    <!-- <%- include('layout/js') %> -->
  </body>
</div>
</html>