<html lang="en">

<head>
  <%- include('layout/head') %>
</head>

<div id="container">
  <%- include('layout/navbar') %>
  <body id="jokebox">
    <h2>Have a Dadjoke!</h2>
    <p id="joke"> joke here </p>
    <button id="get_joke" class="button"> Have Another! </button>
    <%- include('layout/footer') %>
    <script src="javascript/app.js"></script>
  </body>
</div>

</html>