<html lang="en">
  <div class="jokebox">
    <h2>Have a Dadjoke!</h2>
    <div id="joke" class="joke">

    </div>
    <button id="get_joke" class="btn">
     How bout another?
    </button>
  </div>
  <script src="app.js"></script>
</html>