<html lang="en">

<head>
  <%- include('layout/head') %>
</head>

<div id="container">
  <%- include('layout/navbar') %>

  <body id="search-form">
    <h2>Search for a Drink</h2>
    <form action="/results" method="POST">
      <select name="filter" id="filter">
        <option value="name">Search By Name</option>
        <option value="ingredient">Search By Ingredient</option>
        <input type="text" id="search" name="search" placeholder="Type a Drink">
      </select>
      <button>Submit</button>
    </form>
    <%- include('layout/footer') %>
    <script src="javascript/app.js"></script>
  </body>
</div>
</html>