body {
  width: 480px;
  max-width: 767px;
  min-width: 480px;
  margin: auto;
  margin-top: 100px;
  font-family: 'Oswald', sans-serif;
  color: rgba(28, 28, 28, 0.793);
}


#container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 480px;
  margin: auto;
  background-color: rgb(255, 95, 87);
}

