body {
  width: 480px;
  max-width: 767px;
  min-width: 480px;
  margin: auto;
  font-family: 'Oswald', sans-serif;
  color: rgba(28, 28, 28, 0.793);
}

form {
  margin: auto;
}
body h2 {
  font-family: 'Bebas Neue', cursive;
}



#container {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 480px;
  margin: auto;
  background-color: rgb(202, 202, 202);
  background-image: url('images/background.jpg');
  background-size: contain;
}

