/* SEARCH FORM */
#search-form h2, #history h2, #history-form h2, #details h2, #results h2, #ingredient h2, #jokebox h2, #ingredient-details h2 {
  font-size: 24px;
  margin-top: 10px;
  background-color: white;
  color: black;
  padding: 8px 0px
}

#search-form input, #history-form input {
  display: block;
  font-size: 18px;
  margin: 20px 0px;
  text-align: center;
}

#search-form form {
  margin-top: 20px;
}

#search-from select {
  font-size: 18px;
}

/* INGREDIENTS */
#ingredient-details #home-info {
  margin: auto;
  margin-top: 10px
}

/* DETAILS */
#details #home-info {
  margin: auto
}

#details #lists, #ingredient-details #lists {
  display: flex;
  justify-content: center;
  background-color: white;
  margin: auto;
  margin-top: 10px;
  width: 85%;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 1);
  padding: 10px 10px
}

#details #lists ul, #ingredient-details #lists ul {
  text-align: left;
  margin: 0px 10px
}

#details p, #ingredient-details p, #history p, #jokebox p {
  margin: 20px auto 10px auto;
  background-color: white;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, .8);
  width: 90%;

}

#lists li {
  padding: 5px
}

.directions {
  padding: 10px;
  line-height: 1.5em;
}

/* HISTORY */

#history #history-info {
  overflow: auto;
  text-align: left;
  text-indent: 2em;
  padding: 30px 10px;
  height: 400px;
  line-height: 2em;
}

/* DAD JOKE */
#jokebox #joke {
  display: flex;
  align-items: center;
  padding: 0px 10px 0px 10px;
  height: 150px;
}

#get_joke {
  width: 200px;
  margin: auto;
  margin-top: 10px
}

/* RESULTS */
#results #home-info {
  margin: auto;
  margin-top: 10px;
}

#results h1 {
  background-color: black;
  color: white;
}

/* FAVORITES LIST */
#buttons {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.button {
  border: none;
  background-color: black;
  color: white;
  padding: 10px 18px;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 30px;
}

.button:hover {
  cursor: pointer;
  border-radius: 30px;
  
}

/* HOME */
#home #hero {
  display: block;
  width: 100%;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.3);
}

#home #home-info {
  display: flex;
  justify-content: space-around;
}

#home-info p, #qr-code p, img {
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.3);
}

#home-info #qr-code p{
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 1);
  margin: auto;
}

#qr-code {
  margin: auto;
}


#home-info p, #qr-code p {
  padding: 5px;
  background-color: white;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 1);
}

#qr-code {
  margin-top: 50px;
}

#day {
  margin: 50px auto 15px auto;
  background-color: white;
  padding: 10px 5px;
  width: 150px;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 1);
  border-radius: 30px;
}


.statement {
  overflow: auto;
  padding: 5px;

/* INGREDIENT DETAIL */
#ingredient #home-info {
  margin: auto;
  margin-top: 20px
}

/* TOS */
#tos {
  font-size: 26px;
}

#tosInfo {
  font-size: 20px;
  overflow: auto;
}

b {
  font-weight: 700;
  color: red;
}

/* FAVORITES  */
.favorites-space {
  margin-bottom: 50px
}

.page-title {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 20px;

}