/* NAVBAR/MENU */

nav h1 {
  background-color: black;
  font-size: 36px;
  padding: 20px 10px;
  font-family: 'Righteous', cursive;
  color: white;
}

nav h3 {
  background-color: rgb(202, 202, 202);
  font-size: 16px;
  padding: 10px 5px;
  text-decoration: underline;
}

nav h3:hover {
  text-decoration: underline;
  cursor: pointer
}

#menu {
  background-color: rgb(202, 202, 202);
  font-family: 'Barlow Semi Condensed', sans-serif;
}

#menu li {
  padding: 4px 2px ;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

#menu a:link, #menu a:active, #menu a:visited {
 text-decoration: none;
 color: black
}

nav a:link, nav a:active, nav a:visited {
  color: white;
  font-style: italic;
  text-decoration: none;
}

#menu a:hover, nav a:hover {
  text-decoration: underline;
}


footer {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
}

footer p {
  margin-bottom: 15px;
  font-style: italic;
}

#icons {
  background-color: black;
  margin: auto;
  width: 480px;
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: 48px;
  text-align: center;
}

#icons a {
  color: white;
  text-decoration: none;
}


/* MODAL */

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

}

.modal {
  background-color:  white;
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /* visibility: hidden; */
}

.modal input[type="submit"] {
  padding: 10px 30px;
  background-color: black;
  color: white;
  border: none;
  font-family: sans-serif;
  cursor: pointer;
  /* visibility: hidden; */
}

.hide-modal {
  display: none;
}