<footer>
  <p>Copyright &copy; 2021</p>
  <div id="icons">
    <a class="social" href="https://twitter.com/codefellows?lang=en"><i class="fab fa-twitter"></i></a>
    <a class="social" href="https://www.instagram.com/codefellows/?hl=en"><i class="fab fa-instagram"></i></a>
    <a class="social" href="https://www.facebook.com/codefellows.org/"><i class="fab fa-facebook"></i></a>
    <a class="social" href="https://github.com/codefellows"><i class="fab fa-github-alt"></i></a>
  </div>
</footer>