<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/styles/reset.css" type="text/css">
<link rel="stylesheet" href="/styles/base.css" type="text/css">
<link rel="stylesheet" href="/styles/layout.css" type="text/css">
<title>CultureShot</title>
<script src="https://kit.fontawesome.com/c5ee6a3598.js" crossorigin="anonymous"></script>
