<nav>

  <h4 id="hamburger"><i class="fas fa-bars"></i></h4>
  <h1>Cult<i style="font-size: 22px; margin: 0px 1px;" class="fas fa-glass-whiskey"></i>re Sho<i class="fas fa-cocktail"></i>

  </a></h1>
  <h1 id="placeID" style="color: white; font-size: 15px; font-style: italic;">(it's 5 o'clock somewhere!)</h1>
</nav>
<div class="menu-bg">
  <ul id="menu">
    <li><a href="/aboutus">About Us</a></li>
    <li><a href="/">Go Home</a></li>
    <li><a href="/historyform">Brain Juice</a></li>
    <li><a href="/jokes">Bottled Cringe</a></li>
    <li><a href="/searchForm">Pick Your Poison</a></li>
    <li><a href="/favoritesList">Your Favorites</a></li>
    <li id="last-li"></li>
  </ul>
</div>
