<nav>
  <h1><a href="/">CultureShot</a></h1>
  <h3 id="dropdown">Drop Down</h3>
  <!-- <p id="burger"><i class="fas fa-bars"></i></p> -->
</nav>
<ul id="menu">
  <li><a href="/">Home</a></li>
  <li><a href="/historyForm">Learn</a></li>
  <li><a href="/jokes">Dad Jokes</a></li>
  <li><a href="/">Share</a></li>
  <li><a href="/searchForm">Discover Drinks</a></li>
  <li><a href="/favoritesList">Your Favorites</a></li>
</ul>