<nav>
  <h1>Cult<i style="font-size: 22px; margin: 0px 1px;" class="fas fa-glass-whiskey"></i>re Sho<i
      class="fas fa-cocktail"></i>

    </a></h1>
  <h1 style="color: white; font-size: 15px; font-style: italic;">
    <%- include('../fivePm.ejs') %>
  </h1>
  <h3 id="dropdown">What's On Tap</h3>
  <!-- <p id="burger"><i class="fas fa-bars"></i></p> -->
</nav>
<ul id="menu">

  <li><a href="/">About Us</a></li>
  <li><a href="/">Go Home</a></li>
  <li><a href="/">Brain Juice</a></li>
  <li><a href="/">Bottled Cringe</a></li>
  <li><a href="/">Cheers</a></li>
  <li><a href="/searchForm">Pick Your Poison</a></li>
  <li><a href="/favoritesList">Your Favorites</a></li>
</ul>

