<nav>
  <h1><a href="/">CultureShot</a></h1>
  <h3>Drop Down</h3>
  <!-- <p id="burger"><i class="fas fa-bars"></i></p> -->
</nav>
<ul id="menu">
  <li><a href="/">Home</a></li>
  <li><a href="/">Discover Drinks!</a></li>
  <li><a href="/">Your Favorites!</a></li>
</ul>